header {
    height: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.lApp {
  margin-bottom: 7px;
}

.chosen {
 
    color: rgba(0,0,0,0);
      transform: scale(1.02) rotate(-3deg);
      opacity: 30%;
    }
  
.logo {
    width: 80PX;
    height: 20PX;
    padding-top: 14px;
    padding-left: 7px;
}

.appPrincipal {
  flex-direction: column;
  background: linear-gradient(90deg, rgb(156, 186, 231) 100%, rgb(149, 182, 231) 30%);
  max-height: auto;  
}

.appPrincipal,
.appPrincipal .contenedorPrincipal, .contenedorlistas {
  flex: 1;
  display: flex;
  gap: 1rem;
}

.contenedorPrincipal, .contenedorlistas {
  width: 100%;
  padding: 16px;
  max-height: auto;
}

.botonNuevaTarea {
    color: rgb(255, 255, 255);
    float: right;
    font-family:sans-serif;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 16px;
    padding: 2px;
    border-radius: 4px;
    background:  rgb(67, 85, 182);
    border: transparent;
    width: 200px;
    height: 30px;
    box-shadow: 2px 2px 4px 1px rgb(192, 192, 192) ;
    cursor:pointer;
}

.botonNuevaTarea:hover {
    background-color: rgb(5, 30, 172) ;
}

.botonNuevaTarea:active {
    transform: translateY(2px);
    background-color:  rgb(17, 34, 133) ;
}

.seccionTareas {
    display: flex;
    flex-direction:column;
    min-width: 50px;
    min-height: 600px;
    max-height: auto;
    padding: 10px;
    padding-left: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.tituloSeccion {
    color: rgb(0, 0, 0);
    font-family:sans-serif;
    font-size: 14pt;
    border-radius: 3px;
    text-align:left;
    width: 300px;
    margin: 3px 3px 3px 0px;
    font-stretch:ultra-expanded;
}

.señalAzul {
  background-color: rgb(47, 84, 206);
  width: 30px;
  height: 10px;
  border-radius: 7px;
  margin-bottom: 8px;
}

.señalNaranja {
  background-color: rgb(240, 95, 12);
  width: 30px;
  height: 10px;
  border-radius: 7px;
  margin-bottom: 8px; 
}

.señalVerde {
  background-color: rgb(35, 179, 59);
  width: 30px;
  height: 10px;
  border-radius: 7px;
  margin-bottom: 8px; 
}

hr {
  height: 2px;
  background-color: rgb(255, 255, 255);
  border:#000000;
  margin-bottom: 6px;
  width: 300px; 
}

.tituloFormularioAside {
  color: rgb(0, 0, 0);
  font-size: 15pt;
  font-family: sans-serif;
  margin: 0px 0px 10px 0px;
}

.tituloFormularioAside hr {
  height: 2px;
  color:  rgb(255, 255, 255);
  border:#000000;
  margin: 6px 0px 0px 0px;
  width: 115px;  
}

.contenedorTareas {
    flex: 1;
    display: flex;
    flex-direction:column;
    gap: 1rem;
    border-radius: 5px;
    width: 300px;
    height: 650px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.asideApp {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 350px;
  height: 350px;
  padding: 20px;
  margin-top: 10px;
  background-color: #f1f1f1;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transform: translate(100%);
  will-change: transform;
  transition: transform 1s;
  z-index: 100;
  border-radius: 5px;
}

.asideApp.active {
  transform: initial;
}

.filaFormulario {
    width: 320px;
    height: 50px;
    padding-bottom: 10px;
}

.nuevaTareaFormulario {
  margin:  0px;
  padding: 0px;
  width: 320px;
}

.nuevaTareaFormularioInput {
    border-style:ridge;
    border-radius: 3px;
    font-size: 12pt;
    width: 300px;
    height: 20px;
    padding-left: 7px;
}

#responsableTarea, #plazoTarea {
  height: 25px;
  width: 305px;
  font-size: 12pt;
}

.formularioNuevaTarea-etiqueta {
    font-size: 12pt;
    font-family: sans-serif;
    font-weight:lighter;
}

.botonGuardar {
  color: rgb(255, 255, 255);
  float: right;
  font-family:sans-serif;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 16px;
  padding: 2px;
  border-radius: 4px;
  background:  rgb(67, 85, 182);
  border: transparent;
  width: 200px;
  height: 30px;
  box-shadow: 2px 2px 4px 1px rgb(192, 192, 192) ;
  cursor:pointer;
}

.botonGuardar:hover {
  background-color: rgb(5, 30, 172) ;
}

.botonGuardar:active {
  transform: translateY(2px);
  background-color:  rgb(17, 34, 133) ;
}

.botonCancelar{
    color: rgb(255, 255, 255);
    float: right;
    font-family:sans-serif;
    margin-top: 5px;
    margin-right: 8px;
    font-size: 14px;
    padding: 2px;
    border-radius: 4px;
    background:rgb(67, 85, 182);
    border: transparent;
    height: 30px;
    width: 200px;
    box-shadow: 2px 2px 4px 1px rgb(141, 141, 141) ;
    cursor:pointer;
}

.botonCancelar:hover {
    background-color:rgb(5, 30, 172) ;
}

.botonCancelar:active {
    transform: translateY(2px);
    background-color: rgb(17, 34, 133) ;
}

.botonesFormularioNuevaTarea {
  display: flex;
  gap: 1rem / 2;
}

.TarjetaTarea {
  padding: 8px ;
  box-shadow:  0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 0.313rem;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  max-height: auto;
  max-width: auto;  
}

.TarjetaTarea:hover {
  transform: scale(1.02);
}

.tituloTarjetaTarea {
  font-size: 12pt;
  color: #000000;
  font-family: sans-serif;
}

.responsableTarjetaTarea, .descripcionTarjetaTarea,
.fechaTarjetaTarea, .tituloTarjetaTarea, .creacionTarjetaTarea {
  font-size: 12pt;
  color:  #000000;
  font-family: sans-serif;
}

.etiquetaResponsableTarjetaTarea,
.etiquetaFechaTarjetaTarea, .etiquetaDescripcionTarjetaTarea, .etiquetaTituloTarjetaTarea, .etiquetacreacionTarjetaTarea {
  font-size: 12pt;
  color: #080d19;
  font-family: sans-serif;
  font-weight:bolder;
  font-stretch:expanded;
}

